main{
    display: flex;
    flex-direction: row;
    padding: 15px 0 30px 30px;
}

/* ----------------- LEFT MAIN ------------------- */
.left_main{

}

.contact{

}

.education{

}

.skills{

}

.language{

}


/* ----------------- RIGHT MAIN ------------------- */

.right_main{
    padding-left: 30px;
}

.about{

}

.code_example{

}

.portfolio{

}

.projects{
    display: flex;
    flex-direction: row;
}

.project{
    padding: 15px 0 30px 30px;
}

.project:first-child{
    padding-left: 0;
}