@import url("header.css");
@import url("main.css");
@import url("footer.css");

body{
    margin: auto;
}

.container{
    color: #DAD7CD;
    width: 960px;
    height: 100%;
    margin: 30px auto;
    background-color: #A3B18A;
    border-radius: 10px;
}

a{
   text-decoration: none;
   color: #DAD7CD;
   transition: color 0.2s linear;
}

a:hover{
   color: grey;
}